<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <add key="ServiceName" value="SupperSocketService"/>
    <add key="ServiceDescription" value="试镜成Socket程序"/>
  </appSettings>
  <superSocket>
    <servers>
      <server name="WeChatSocket" textEncoding="gb2312" serverType="LXGlass.SocketService.WeChatServer, LXGlass.SocketService" ip="Any" port="2020" maxConnectionNumber="100">
      </server>
    </servers>
  </superSocket>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>