<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotifyService" />
                <binding name="AgentServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3366/NotifyService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotifyService" contract="NotifyService.INotifyService"
                name="BasicHttpBinding_INotifyService" />
            <endpoint address="http://localhost:52104/AgentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AgentServiceSoap"
                contract="AgentService.AgentServiceSoap" name="AgentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>